section {
    text-align: center;
    padding: 80px 20px;
}

section img {
    width: 800px;
    max-width: 100%;
    margin: 40px auto;
    display: block;
    filter: drop-shadow(0px 20px 40px rgba(0,0,0,0.6));
}

button {
    background-color: green;
    color: aliceblue;
    padding: 10px 14px;
    cursor: pointer;
    border: none;
    font-size: 16px;
    font-weight: 600;
}

button:hover {
    background-color: darkgreen;
}

section img:hover {
   transform: scale(1.05);
   transition-duration: 0.5s;
}

.produtos {
    display: flex;
    gap: 30px;
    justify-content: center;
    padding: 80px 20px;
    background-color: #0f0f0f;
}

.card {
    background-color: #111;
    width: 260px;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    color: white;
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

.card img {
    width: 100%;
    margin-bottom: 20px;
}

.card h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.card p {
    font-size: 16px;
    margin-bottom: 20px;
}

.card button {
    width: 100%;
    padding: 12px;
    border: none;
    background-color: green;
    color: aliceblue;
    font-weight: 600;
    cursor: pointer;
}

.card button:hover {
    background-color: darkgreen;
}

.card {
    background-color: #111;
    width: 280px;
    border-radius: 16px;
    overflow: hidden;
    color: white;
    cursor: pointer;
    transition: transform 0.4s ease;
}

.card:hover {
    transform: translateY(-12px);
}

.card-img {
    overflow: hidden;
}

.card-img img {
    width: 100%;
    transition: transform 0.6s ease;
}

.card:hover .card-img img {
    transform: scale(1.1);
}

.card-info {
    padding: 20px;
    text-align: center;
}

.card::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.15);
    opacity: 0;
    transition: opacity 0.4s;
}

.card:hover::after {
    opacity: 1;
}

.card {
    position: relative;
}

.produtos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 30px;
    padding: 60px;
}

.fade-text {
    opacity: 0;
    transform: translateY(10px);
    transition: 0.5s ease;
}

.card:hover .fade-text {
    opacity: 1;
    transform: translateY(0);
}


