section {
    text-align: center;
    padding: 80px 20px;
}

button {
    background-color: green;
    color: aliceblue;
    padding: 10px 14px;
    cursor: pointer;
    border: none;
    font-size: 16px;
    font-weight: 600;
}

button:hover {
    background-color: darkgreen;
}

section > img {
    width: 800px;
    max-width: 100%;
    margin: 40px auto;
    display: block;
    filter: drop-shadow(0px 20px 40px rgba(0,0,0,0.6));
    transition: transform 0.5s;
}

section > img:hover {
    transform: scale(1.05);
}

.produtos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 30px;
    padding: 60px;
    background-color: #0f0f0f;
}

.card {
    background-color: #111;
    border-radius: 16px;
    overflow: hidden;
    color: white;
    cursor: pointer;
    text-align: center;
    position: relative;
    transition: transform 0.4s ease;
}

.card:hover {
    transform: translateY(-12px);
}

.card-img {
    overflow: hidden;
}

.card-img img {
    width: 100%;
    transition: transform 0.6s ease;
}

.card:hover .card-img img {
    transform: scale(1.1);
}

.card-info {
    padding: 20px;
}

.card-info h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.card-info p {
    font-size: 16px;
    margin-bottom: 20px;
}

.card button {
    width: 100%;
    padding: 12px;
    background-color: green;
    color: aliceblue;
    font-weight: 600;
    cursor: pointer;
    border: none;
}

.card button:hover {
    background-color: darkgreen;
}

.fade-text {
    opacity: 0;
    transform: translateY(10px);
    transition: 0.5s ease;
}

.card:hover .fade-text {
    opacity: 1;
    transform: translateY(0);
}

.card::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.15);
    opacity: 0;
    transition: opacity 0.4s;
}

.card:hover::after {
    opacity: 1;
}

.card:hover {
    transform: translateY(-12px) rotateX(6deg) rotateY(-6deg);
}

.fundo-preto {
    display: flex;
    flex-wrap: wrap;    
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 30px;
    padding: 80px 60px;
    background-color: #000;
    justify-content: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(0, 100%, 99%);
    font-family: Arial, sans-serif;
}

.fundo-preto .card {
    width: 100px;   /* controla quantos ficam por linha */
}


